<div class="distribution">
<%= distribution.to_s %>
<span class="right">
  <%= link_to 'e', edit_distribution_path(distribution) %>
  <%= link_to 'd', distribution_path(distribution) %>
</span>
</div>
