<h2> Operations </h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Name</th>
      <th>Explanation</th>
      <th>Example Mean</th>
      <th>Example Standard Deviation</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td class="success">+</td>
    <td>Addition</td>
    <td>Adds distributions together.  Input means are added to result in the output mean, and input confidence intervals are added to result in the output confidence interval. </td>
    <td>4</td>
    <td>2</td>
  </tr>
  <tr>
    <td>*</td>
    <td>Multiplication</td>
    <td> Multiplies distributions together.  Input means are multiplied to result in the output mean, and input confidence intervals are added as fractions of their respective means to result in the output confidence interval.</td>
    <td>4</td>
    <td>2</td>
  </tr>
  <tr>
    <td>|</td>
    <td>Combination</td>
    <td> Combines multiple probabilitiy distributions estimating the same thing.  This is done by essentially perfoming a bayesian upate with the first as a prior and the second as a separate estimate.  This is useful when combining multiple estimates of the same variable.  The math is rather complicated, but is outlined <a href="http://blog.givewell.org/attachments/worms.pdf">here</a> and <a href="http://lesswrong.com/lw/745/why_we_cant_take_expected_value_estimates/">here</a>.  The mean is "equal to the the average of the two means weighted by their inverse variances", and the variance is "equal to the harmonic sum of the two variances". I am not entirely sure of this math and if you have recommendations on how to improve it let me know. </td>
    <td>4</td>
    <td>2</td>
  </tr>
  <tr>
    <td>max</td>
    <td>Maximum</td>
    <td>Selects the distribution with the highest mean. </td>
    <td>4</td>
    <td>2</td>
  </tr>
  <tr>
    <td>min</td>
    <td>Minimum</td>
    <td>Selects the distribution with the lowest mean. </td>
    <td>4</td>
    <td>2</td>
  </tr>
  </tbody>
</table>
