// Place all the styles related to the Distributions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.distribution{
  padding: 0.1em 0.4em;
  border-radius:0.3em;
  margin-bottom:0.4em;
  .right{
    float:right;
    a{
      color: #ccc;
    }
  }
}

.independent{
  background:#efe;
  border: 1px solid #dfd;
}

.dependent{
  background:#f6f6ff;
  border: 1px solid #eef;
}

