// Place all the styles related to the Distributions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.distribution{
  margin-bottom:0.4em;
  border-radius:0.3em;

  .header{
    background: #dce7ff;
    font-size:11px;
    border-radius:0.3em 0.3em 0 0;
    padding:0.1em 0.3em;
    .right{
      float:right;
      a{
        visibility:hidden;
      }
    }
  }
  .body{
    background:#f7faff;
    font-size:10px;
    color:#555;
    padding: 0.1em 0.4em;
  }
}
.distribution:hover{
  .header{
    .right{
      float:right;
      a{
        visibility:visible;
      }
      a:hover{
        color: #000;
        text-decoration:none;
        background:none;
      }
    }
  }
  .body{
  }
}

.independent{
  .header{
    background: #dce7ff;
    }
    .body{
    background:#f7faff;
    }
}

.dependent{
    .header{
    background: #eee;
    }
    .body{
    background:#f6f6f6;
    }

}

