<div class="operation">
  <div class="header">
    <div class="right">
  <%= link_to  evaluate_model_operation_path(@model, operation), :method => :evaluate do%>
        <i class="icon-cogs"></i> 
    <% end %>
    <%= link_to edit_model_operation_path(@model, operation) do %>
      <i class="icon-pencil"></i> 
  <% end %>
    <%= link_to model_operation_path(@model, operation),
      :method => :delete,
      :confirm => "Are you sure you want to delete this operation?" do %>
      <i class="icon-remove"></i> 
    <% end %>
    
    </div>
  </div>
    <div class="body">
      <div class="operator">
      <%= operation.operator || "_" %>
    </div>
    </div>
  </div>
